services:
  sirius-postgres:
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    secrets:
      - postgres_password

  sirius-ui:
    secrets:
      - sirius_api_key
      - nextauth_secret
      - initial_admin_password

  sirius-api:
    secrets:
      - sirius_api_key

  sirius-engine:
    secrets:
      - sirius_api_key

secrets:
  postgres_password:
    file: ./secrets/postgres_password.txt
  sirius_api_key:
    file: ./secrets/sirius_api_key.txt
  nextauth_secret:
    file: ./secrets/nextauth_secret.txt
  initial_admin_password:
    file: ./secrets/initial_admin_password.txt
